.top-mune{
}



.top-mune h4{
	text-align: center;
	color: #fff;
	font-size: 22px; 
	display:none;
	font-family: 微软雅黑;
	margin: 0;
	line-height: 50px; 
}

.top-mune img{
	float: left;
	width: 120px;
	margin: 10px 0;
}

.top-mune>ul{
	float: right; 
	font-size: 16px;
	text-align: center;
	margin: 0;
}


.top-mune>ul>li{
	position: relative;
	display: inline-block;
	padding: 0 20px;
	top:2px;
}

.top-mune>ul>li>a{
	display: inline-block;
	width: 100%;
	padding: 27px 0;
}

.top-mune>ul>li:hover ul{
	display: block !important;
}


.top-mune>ul>li>ul{
	position:absolute;
	background: rgba(41,105,192,0.8);
	width:100%;
	left: 0;
	margin:0; 
	padding: 0;	
}

.top-mune>ul>li>ul>li>a{
	display: inline-block;
	width: 100%;
	padding:0;
	line-height: 50px;
}


@media (min-width:768px){
	#header .hide768{
		display: block;
	}
}
@media (max-width:768px) {
	#header{
		position: static;
	}
	#header .hide768{
		display: none;
	}
	#header a{
		text-decoration:none;
	}
	.logo{
		display: none;
	}
	.top-mune{
		width: 100%;
		padding: 0;
	} 
	.top-mune h4{
		display: block;
	}
	.top-mune>ul{
		width: 100%;
	}
	.top-mune>ul>li{
		display: inline-block;
		width: 100%;
		padding:0; 
	}
	.top-mune>ul>li>ul{
		position:static;
		width:100%;
		left: 0;
		margin:0; 
		padding: 0;
	}
	
}


