#ev07 {
	 font-size: 20px;
	 font-family: Calibri; 
}


#ev07 ul {
	 text-align: left;
}

@media (max-width:1200px) { 
	#ev07 ul {
	 text-align:center;
	}

}




#ev07 ul li{
	 margin: 30px 0;
}


#ev07 .img-box{
	border-radius: 15px;
}


#ev07 .img-title span{
	color: #ef1824;
}

#ev07 .img-title img{
	margin: -100px 0 0 0;

}

#ev07 .img-text{
	line-height: 35px;
	font-size: 20px;
	text-indent: 30px;
}











#ev07 .ev07-right{
}

@media (max-width:1200px) { 
	#ev07 .ev07-right li{
	width: 50%;
	display: inline-block;
	}	

	#ev07 .ev07-right .col-sm-3{
		width: 100%;
	}

	#ev07 .ev07-right .col-sm-9{
		width: 100%; 
	}

}



@media (max-width:768px) { 
	#ev07 .ev07-right li{
	width: 100%;
	display: inline-block;
	}	

	#ev07 .ev07-right .col-sm-3{
		width: 100%;
	}
}


#ev07 .ev07-right img{
	margin: -10px 10px 0 0 ;
}

@media (max-width:1200px) { 
		#ev07 .ev07-right img{
		margin:0;
	}
}

#ev07 .ev07-right h2{
	font-size: 22px;
	margin: 0;
}

#ev07 .ev07-right p{
	font-size: 16px;
	margin: 10px 0 0 0;
	color:#666;
	line-height: 25px;
}



#ev07 .ev07-right .noImg{
	margin: 10px  0;
	padding: 0;
}

@media (max-width:1200px) { 
	#ev07 .ev07-right .noImg{
		width: 50%;
		margin: 20px 0;
		height: 124px;
	}	
}

@media (max-width:768px) { 
	#ev07 .ev07-right .noImg{
		width: 100%;
		height:auto;
	}	
}


#ev07 .ev07-right .noImg h2{
	font-size: 22px;
	margin: 0;
	padding: 0;
}

#ev07 .ev07-right .noImg p{
	margin:0;
	padding: 0;
	font-size: 16px;
}






