#About{
	background-color: #efefef;
	padding: 0 15px;
	margin:auto;
	margin-top:60px;
	font-size: 16px;
	box-shadow: -5px 5px 5px #e0e0e0;
}


#About p{
	line-height: 30px;
	margin:20px 0;
	padding: 0 20px;
}

#About b{
	color:#2969bf;
}

#About span{
	font-size: 30px;
	text-indent: 30px;
	display: inline-block;
}




@media (max-width:588px) { 
	#About img{
		width: 100%; 
	}
}
