#brief ul li{
	font-size: 27px;
	color: #282829;
	text-align: left;
	line-height: 35px;
}


#brief ul li:first-child{
	color: #2969bf;
}

#brief ul li:last-child{
	font-size: 18px;
	color: #242736;
	line-height: 25px;
	margin-top: 30px;
}


#brief ul li:first-child{
	color: #2969bf;
}

#brief ul li span{
	font-size: 36px;
	margin-right: 18px;
}