footer{
	background-color: #2969c0;
}


.footer-title{
	text-align: center;
	font-size: 45px;
	color: #fff; 
	padding:50px 0;
}

footer .row{
	padding-bottom: 50px;
}

footer .form-group{
	margin: 10px 0;
}

footer .form-group label{
	color: #fff;
	font-weight:100;
	margin: 0;
}


footer .btn-default{
	width: 96%;
	margin: auto;
	color: #2969bf;
}


footer ul{
	margin-top:16px;
}

footer ul li{
	margin-bottom:30px; 
	position: relative;
	margin-left:65px; 
}


footer ul li p{
	color: #fff; 
	font-size: 18px;
	line-height: auto;
}

footer ul li:last-child{
	line-height: 60px;
}



footer ul li img{
	position: absolute;
	left: -60px;
	margin-right:20px;
}



footer .someLink{
	margin-top: 47px;
}


footer .someLink>p{
	color: #fff;
	font-size: 24px;
}

@media (max-width:380px) { 
	footer .someLink>p img{
	display: block;
}

}


footer .someLink>p img{
	width:110px;
	margin-right: 20px;
	margin-top:-25px; 
}

footer .someLink ul{
	
}

footer .someLink ul li{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 5px;
}

footer .someLink ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

footer .someLink ul li a img{
	position:static;
	width: 100%;
	margin: 0
}



#footernone{
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}

