#contact{

}

#contact .title{
	font-size: 20px;
	color: #222;
}

#contact .title span{
	font-size: 47px;
	color: #2969bf;
}

#contact .title p{
	padding: 0 20%;
}



#contact .row{
	margin-top: 100px;
}

#contact .row>div{
	padding:0 20px;
}
#contact .row>div>div{
	border-top: 1px solid #2969bf; 
}

#contact .row>div>div img{
	margin-top: -80px;
}


#contact .row>div>div dl{
	margin-top: -10px;
}


#contact .row>div>div dl dt{
	font-size: 20px;
	color: #2969bf;
	font-weight: 700;
	margin-bottom: 10px; 
}

#contact .row>div>div dl dd{
	line-height: 25px; 
}


#contact .row>div>div dl p{
	display: inline-block;
	width: 50%;
	
}


#contact .borderright{
	border-right: 1px solid #c5c5c5; 
}
