#evapp {
	background: url('/img/home/evapp/ev_bg.png');
	background-repeat:no-repeat;
	background-position:top center;
}

#evapp .row {
	margin: 0;
}

#evapp .container{
	padding:60px 0;
}

#evapp .titleP{
	font-size: 30px;
	color: #2969bf;
	padding: 25px 0;
	text-align: left;
}

#evapp ul{
	text-align: left;
}

#evapp ul li{
	margin-bottom: 30px;
}

#evapp ul li a{
	margin:10px;
	display: inline-block;
}


#evapp ul li span{
	font-size: 22px;
	color: #222;
}


#evapp ul li p{
	font-size: 18px;
	color: #444;
}


#evapp .col-lg-6{
	 
}

#evapp .titleImg{
	position: relative;
	bottom: -127px;
}

@media (max-width:1200px) {
	#evapp .titleImg{
		position: relative;
		bottom: 0;
		width: 80%;
	}
	#evapp .titleP{
		text-align: center;
	}
	#evapp ul{
		text-align: center;
	}
	#evapp .container{
		padding:0;
	}
}


@media (max-width:768px) {
	#evapp .titleImg{
		position: relative;
		bottom: 0;
		width: 100%;
	}
}
