#ev200{
	text-align: left;
	position: relative;
}



#ev200 p{
	text-align: left;
	font-size: 21px;
	font-family: Calibri;
	width:100%;
}

#ev200 .row{
	margin: 0;
}

#ev200 img{
	display: block
}

#ev200 ul {
	list-style-image: url('/img/home/ev200/ev200-list.png');
	text-align: left;
}

#ev200 ul li{
	font-size: 20px;
	margin: 10px;
}


#ev200 .ev200Item{
	position: absolute;
	bottom: -200px;
	right: 240px;
	z-index: 999;
	width: 100%;
}

#ev200 .ev200List{
	margin-top: -100px;
}

@media (max-width:1200px) {
	#ev200 .ev200Item{
		position: absolute;
		bottom: -200px;
		right: 120px;
		z-index: 999;
		width: 100%;
	}

	#ev200 .ev200List{
		margin-top:0;
	}
}


@media (max-width:991px) {
	#ev200 .ev200Item{
		position: static;
		z-index: 999;
		width: 100%;
	}

	#ev200 .ev200yb{
		display: none;
	}
	#ev200 ul {
	 	text-align: center;
	 	width:300px;
	 	margin: 50px  auto;
	}
	#ev200 ul li{
	 	width: 100%;
	}
}



@media (max-width:768px) { 
	#ev200 .ev200Item{
		position: static;
		width: 80%;
		margin:auto;
	}
	
}

@media (max-width:400px) { 
	#ev200 ul {
	 	width:100%;
	}
	
}



@media (max-width:400px) {
	#ev200 ul {
	 	text-align: left;
	}
}

