#trait{

}

#trait .title{
	text-align: left;
	font-size: 35px;
	color: #242736;
}

#trait .title span{
	font-size:45px;

}

#trait ul {
	list-style:none;
	text-align: left;
}

#trait ul .col-sm-6{
	padding:0;
	margin:0; 
	padding:9px 10px 10px 40px ;
	margin-top: 50px;
}

#trait ul li {
	  background:url(/img/mune.png) no-repeat left center;
	  background-position:10px 10px;
	  box-sizing:border-box;
	  font-size: 14px;
	  color: #211c1c;
	  box-sizing: border-box;
	  display: inline-block;
	  height: 250px;
	  color: #211c1c;
	  font-size: 14px;
}

#trait ul li img{
	margin:20px 0;
}

#trait ul li:first-child,#trait ul li:last-child{
	background-color: #f3f3f3;
}

#trait ul li p:first-child{
	font-size: 18px;
	color: #2969bf;
}


#trait ul li span{
	color: #2969bf;
	font-size: 18px;
}

#trait .itemShow{
	margin-top: 30px;
}
#trait .itemShow li{
	padding: 0 ;
	margin:0!important;
	height: auto; 
	background-color: transparent!important;
	padding:9px 0 0 40px !important;
	font-size: 18px;

}