#details{

}

#details p{
	font-size: 16px;
	line-height: 30px;
}

#details ul li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}


#details ul li p{
	margin: 0;
	padding:0;
	line-height: 25px; 
	white-space: pre-wrap;
}



#details span:first-child{
	font-size: 21px;
	font-weight: 700;
}



#details .positionImg {
	position: relative;
	height: 150px
}

#details .positionImg img {
	position: absolute;
	top: -50px;
	right: 0;

}


