#platform{
	
}

#platform .row{
	margin-bottom: 50px;
}

#platform h1{
	font-size: 40px;
	color: #2969bf;
}


#platform p{
	font-size: 20px;
	color: #666;
}

#platform .computer img{
	margin-top:-100px;
	width: 100%;
}

@media (max-width:1200px) { 
	#platform .computer img{
	 margin-top:0;
	 width: 100%;
	}

}

@media (max-width:990px) { 
	#platform .computer img{
	 margin-top:0;
	 width: 60%;
	}

}

@media (max-width:768px) { 
	#platform .computer img{
	 margin-top:30px;
	}

}

@media (max-width:400px) { 
	#platform .computer img{
	 width: 100%;
	}

}




















#platform .platform-icon{
	width: 50%;
	font-size: 18px;
	text-align: left;
	height: 100px;
	float: left;
}

#platform .platform-icon img{
	float: left;
	margin-right:20px; 
}

@media (max-width:990px) { 
	#platform .platform-icon{
		width: 50%;
		font-size: 18px;
		text-align: center;
		height: 100px;
		float: left;
		margin: 40px 0;
	}


	#platform .platform-icon img{
		display: inline-block;
		float: none !important;
		margin:0; 
	}

}

@media (max-width:600px) { 
	#platform .platform-icon{
		width: 100%;
	}
}

#platform .platform-icon h4{
	margin: 10px 0;
}

#platform .platform-icon p{
	font-size: 16px;
	padding: 0 10px;
}




