$Color_P:#2969c0;
$Color_S:#3e90fe;
$Color_N:#222;


*{
	margin:0;
	padding:0;
	color:$Color_N;
}

body{
	font-family: 微软雅黑;
	font-family: Calibri;
}


*::selection{
	background-color:$Color_P;
}

a:visited{
	color: #fff;
}


ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

ul a{
	color:#fff;
}

ul a:hover{
	color:#fff;
}


.Primary-colors{
	background:rgba(41,105,192,0.8);
}


.title-all{
	color: #2969bf;
	font-size: 50px;
	padding:0 0 60px 0; 
	text-align: center;
}




.clearfix:after {   /*清除浮动*/
	content: '';
	display: table;
	clear: both;
}



.bgItem{
	background: #efefef;
}






/*独立样式*/

.contentFirst{
	 margin-top: 78px;
}


@media (max-width:768px) { 
	.contentFirst{
	 margin-top: 0;
	}
}


#aritcle .container{
	text-align: center;
	padding: 60px 15px; 
}


#products>div .container {
	  border-bottom: 1px dashed #242736;
}

#products>div:last-child .container,#products>div:first-child .container {
	  border-bottom: none;
}



#map {
        height: 500px;
      }