#from{
	
}

#from .btn-primary{
	background-color: #2969bf;
  	border-color: #2969bf;
}

#from input{
	height: 31px;
	padding:2px; 
}

#from input,#from textarea{
	width: 100%;
	border-radius: 5px;
	border:1px solid #efefef;
	background-color: #efefef;
}

#from .title {
	text-align: left;
	font-size: 20px;
	color: #2969bf;
	margin: 0;
}



#from .content{
	text-align: left;
	padding:0;
	font-size: 16px;
	color: #2969bf;
	margin-top: 20px;

}

#from .content>div{
	text-align: left;
}


#from .content .row>div{
	margin-top: 20px;
}