#right{

}

#right .title{
	text-align: right;
	font-size: 35px;
	color: #242736;
}

#right .title span{
	font-size:45px;

}



#right .title span{
	font-size:45px;
}

#right .right-img{
	font-size:16px;
	margin-top: 30px;
}


#right .right-img div{
	margin-top: 35px;
	color: #2969bf;
}

#right .right-img div p{
	padding-top: 5px;
}

#right .right-img .marginTop{
	margin-top: 65px;
}